<a href="https://colab.research.google.com/github/tushar2k/Sem-V-labs/blob/master/AI%20ML-%20ECSE303L/AI_Lab2_T2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Predict your scores better :)
As you saw in the previous simple linear regression task that previous year grades (G2) have significant correlation with third year grades (G3). But G2 is not direct causation of G3, there are many factors which determine G3. Let's add few more variables which may help to determine G3.

### Multiple linear regression
Multiple linear regression is simply the linear regression extended to problems where the dependent or output variable is determined by more than one independent variable.<br>

#####  $\hat{y}$ (w, x) = w_0 + w_1 * x_1 + ... + w_p * x_ps

#### Dataset
The dataset is available at __"data/multiple_linear_data.csv"__ in the respective challenge's repo.<br><br>

This is the __modified version__ of the dataset *'Student Performance'* provided by UCI Machine Learning repository.<br>
Original dataset: https://archive.ics.uci.edu/ml/datasets/student+performance

#### Features (X)
1. age - student's age (numeric: from 15 to 22)
2. address - student's home address type (binary: 'U' - urban or 'R' - rural)
3. famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
4. reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
5. studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
6. failures - number of past class failures (numeric: n if 1<=n<3, else 4)
7. schoolsup - extra educational support (binary: yes or no)
8. famsup - family educational support (binary: yes or no)
9. paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
10. activities - extra-curricular activities (binary: yes or no)
11. higher - wants to take higher education (binary: yes or no)
12. internet - Internet access at home (binary: yes or no)
13. romantic - with a romantic relationship (binary: yes or no)
14. freetime - free time after school (numeric: from 1 - very low to 5 - very high)
15. goout - going out with friends (numeric: from 1 - very low to 5 - very high)
16. health - current health status (numeric: from 1 - very bad to 5 - very good)
17. absences - number of school absences (numeric: from 0 to 93)
18. G1 - first year math grades (numeric: from 0 to 100)
19. G2 - second year math grades (numeric: from 0 to 100)

#### Output target (Y) 
20. G3 - final year math grades (numeric: from 0 to 100, output target)

#### Objective
To learn multiple linear regression and practice handling categorical features

#### Tasks
- To load the data and print first 5 rows
- Transform categorical features into numerical features. Use either one hot encoding, label encoding or any other suitable preprocessing technique.
- Define X matrix (independent features) and y vector (target feature)
- Train Linear Regression Model (sklearn.linear_model.LinearRegression class)
- Print 'Mean Squared Error' (MSE) obtained on the same dataset i.e. same X and y (sklearn.metrics.mean_squared_error function)
- Predict on a numpy array defined by you
```python
>>> new_data = np.array([1,0,1,.....,30,20]).reshape(1,-1)
>>> print("Predicted grade:",model.predict(new_data))
```

#### Further fun (will not be evaluated)
- Train LassoRegression and RidgeRegression as well. Read about them from scikit-learn user guide.
- *Step-up challenge*: Get down the MSE (mean squared error) below 3.25 using linear models
- Implement multiple linear regression from scratch
- Plot loss curve (Loss vs number of iterations)

#### Helpful links
- Scikit-learn documentation for linear regression: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
- Read till where you feel comfortable: https://jakevdp.github.io/PythonDataScienceHandbook/05.06-linear-regression.html
- Use slack for doubts: https://join.slack.com/t/deepconnectai/shared_invite/zt-givlfnf6-~cn3SQ43k0BGDrG9_YOn4g

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

# IF sklearn.compose.ColumnTransformer is used for feature transformation, then below import will help to infer features
# from helper.utils import get_column_names_from_ColumnTransformer

In [ ]:
# NOTE: DO NOT CHANGE THE VARIABLE NAME(S) IN THIS CELL
# Load the data
data = pd.read_csv('https://raw.githubusercontent.com/DeepConnectAI/challenge-week-2/master/data/multiple_linear_data.csv')
print(data.head(5))

   age address famsize  reason  studytime  ...  health absences  G1  G2  G3
0   18       U     GT3  course          2  ...       3        6  25  30  30
1   17       U     GT3  course          2  ...       3        4  25  25  30
2   15       U     LE3   other          2  ...       3       10  35  40  50
3   15       U     GT3    home          3  ...       5        2  75  70  75
4   16       U     GT3    home          2  ...       5        4  30  50  50

[5 rows x 20 columns]

In [ ]:
# You may need original list of columns to interpret the features after transformation, maybe
orig_cols = data.columns
orig_cols

Index(['age', 'address', 'famsize', 'reason', 'studytime', 'failures',
       'schoolsup', 'famsup', 'paid', 'activities', 'higher', 'internet',
       'romantic', 'freetime', 'goout', 'health', 'absences', 'G1', 'G2',
       'G3'],
      dtype='object')

In [ ]:
# Handle categorical values
for i in orig_cols:
    a=data[i].dtype
    if a=='object':
        data[i]=data[i].astype('category')
    print(i,data[i].dtype)

age int64
address category
famsize category
reason category
studytime int64
failures int64
schoolsup category
famsup category
paid category
activities category
higher category
internet category
romantic category
freetime int64
goout int64
health int64
absences int64
G1 int64
G2 int64
G3 int64

In [ ]:
labelencoder = LabelEncoder()

In [ ]:
for i in orig_cols:
    a=str(data[i].dtype)
    if str(a)=='category':
        data[i+'_cat'] = labelencoder.fit_transform(data[i])
data.head(20)

    age address famsize  ... higher_cat  internet_cat  romantic_cat
0    18       U     GT3  ...          1             0             0
1    17       U     GT3  ...          1             1             0
2    15       U     LE3  ...          1             1             0
3    15       U     GT3  ...          1             1             1
4    16       U     GT3  ...          1             0             0
5    16       U     LE3  ...          1             1             0
6    16       U     LE3  ...          1             1             0
7    17       U     GT3  ...          1             0             0
8    15       U     LE3  ...          1             1             0
9    15       U     GT3  ...          1             1             0
10   15       U     GT3  ...          1             1             0
11   15       U     GT3  ...          1             1             0
12   15       U     LE3  ...          1             1             0
13   15       U     GT3  ...          1             1             0
14   15       U     GT3  ...          1             1             1
15   16       U     GT3  ...          1             1             0
16   16       U     GT3  ...          1             1             0
17   16       U     GT3  ...          1             0             0
18   17       U     GT3  ...          1             1             0
19   16       U     LE3  ...          1             1             0

[20 rows x 30 columns]

In [ ]:
data.columns

Index(['age', 'address', 'famsize', 'reason', 'studytime', 'failures',
       'schoolsup', 'famsup', 'paid', 'activities', 'higher', 'internet',
       'romantic', 'freetime', 'goout', 'health', 'absences', 'G1', 'G2', 'G3',
       'address_cat', 'famsize_cat', 'reason_cat', 'schoolsup_cat',
       'famsup_cat', 'paid_cat', 'activities_cat', 'higher_cat',
       'internet_cat', 'romantic_cat'],
      dtype='object')

In [ ]:
data

     age address famsize  ... higher_cat  internet_cat  romantic_cat
0     18       U     GT3  ...          1             0             0
1     17       U     GT3  ...          1             1             0
2     15       U     LE3  ...          1             1             0
3     15       U     GT3  ...          1             1             1
4     16       U     GT3  ...          1             0             0
..   ...     ...     ...  ...        ...           ...           ...
390   20       U     LE3  ...          1             0             0
391   17       U     LE3  ...          1             1             0
392   21       R     GT3  ...          1             0             0
393   18       R     LE3  ...          1             1             0
394   19       U     LE3  ...          1             1             0

[395 rows x 30 columns]

In [ ]:
# Define your X and y
X = (data[['age', 'studytime', 'failures', 'freetime', 'goout', 'health', 'absences', 'G1', 'G2',
       'address_cat', 'famsize_cat', 'reason_cat', 'schoolsup_cat',
       'famsup_cat', 'paid_cat', 'activities_cat', 'higher_cat',
       'internet_cat', 'romantic_cat']]).to_numpy()
y = (data['G3']).to_numpy()

X_shape = X.shape
X_type  = type(X)
y_shape = y.shape
y_type  = type(y)
print(f'X: Type-{X_type}, Shape-{X_shape}')
print(f'y: Type-{y_type}, Shape-{y_shape}')

X: Type-<class 'numpy.ndarray'>, Shape-(395, 19)
y: Type-<class 'numpy.ndarray'>, Shape-(395,)

In [ ]:
X[:,:10]

array([[18,  2,  0, ..., 25, 30,  1],
       [17,  2,  0, ..., 25, 25,  1],
       [15,  2,  3, ..., 35, 40,  1],
       ...,
       [21,  1,  3, ..., 50, 40,  0],
       [18,  1,  0, ..., 55, 60,  0],
       [19,  1,  0, ..., 40, 45,  1]])

In [ ]:
# Initialize the model
model = LinearRegression()

In [ ]:
# Fit the model. Wait! We will complete this step for you ;)
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# Print mean squared error
y_pred=model.predict(X)
mse = mean_squared_error(y,y_pred)
print(f"\nMSE: {mse}")

MSE: 85.71253099296838

In [ ]:
print(X[0,:])
print(y[0])

[18  2  0  3  4  3  6 25 30  1  0  0  1  0  0  0  1  0  0]
30

In [ ]:
# Predict on your own data
new_data = np.array([18,  2,  0,  3,  4,  3,  6, 25, 30,  1,  0,  0,  1,  0,  0,  0,  1,0,  0]).reshape(1,-1)
print("Predicted grade:",model.predict(new_data))

Predicted grade: [26.40773522]